* {
    padding: 0;
    margin: 0;
    font-family: Helvetica, sans-serif;
}

.main {
    background-image: url(assets/images/portfolio.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
}

.main .box {
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.6);
    background: radial-gradient(circle at center top, rgba(27, 27, 27, 0.784), black);
    opacity: 0.6;
    height: 100vh;
    width: 100%;
    /* z-index: 1; */

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    max-width: 60vw;
    height: 100px;
    gap: 5px;

}

nav img {
    color: #e50914;
    width: 130px;
    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;
}

.title {
    height: calc(100% - 100px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    position: relative;
    z-index: 2;
    font-family: Helvetica, sans-serif;
    text-align: center;
    padding: 0 20px;
    gap: 23px;
}

.title h1 {
    font-size: 2rem;
    font-weight: 900;
    /* margin-bottom: 20px; */
}

.title h2 {
    font-size: 18px;
    font-weight: 500;
    /* margin-bottom: 20px; */
}

.title p {
    font-size: 16px;
    font-weight: 400;
}

.box2 {
    display: flex;
    flex-direction: row;
    gap: 5px;

}

.box2 button {

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e50914;
    color: white;
    font-size: 20px;
    font-weight: 700;
    align-items: center;
    align-content: center;
    cursor: pointer;
    padding: 15px;
    border-radius: 7px;
}

.box2 input {
    border-radius: 7px;
    width: 30vw;
    background-color: rgba(0, 0, 0, 0.7);
    border: 2px solid white;
}

.box2 input::placeholder {
    color: rgba(255, 255, 255, 0.5);
    font-weight: 550;
    font-size: 20px;
    padding-left: 23px;
}

.box2 input[type="text"] {
    color: white;
    font-size: 18px;
}

body {
    background-color: black;
}

.separation {
    position: relative;
    height: 7px;
    width: 100%;
    background: linear-gradient(to right, red, deeppink);
    border-top-left-radius: 50% 100%;
    border-top-right-radius: 50% 100%;
    margin-top: -2px;
    z-index: 5;
}

.btn {
    background-color: #e50914;
    color: white;
    font-weight: 700;
    cursor: pointer;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 5px;
}

.lang {
    font-weight: 700;
    display: flex;
    align-items: center;
    background-color: transparent;
    color: white;
    cursor: pointer;
    border: 0.1px solid rgba(255, 255, 255, 0.562);
    padding: 2px 10px;
    margin: 6.2px;
    border-radius: 5px;
    cursor: pointer;
}

select {
    background-color: transparent;
    color: white;
    font-weight: 700;
    border: 0px solid black;
    cursor: pointer;
}

select>option {
    font-weight: 700;
    background-color: black;
    color: rgb(255, 253, 253);
    border: 0px solid black;

}

.btn1 {

    display: flex;
    flex-direction: row;

}

.trend {
    color: white;
    font-weight: 500;
    font-size: 20px;
    padding: 55px 53px 10px 60px;
    text-shadow: 2px 2px 5px white;
}

.collectionc {
    position: relative;
}

.collectionc span {
    position: relative;
    display: flex;
    flex-direction: row;
    /* color: white; */
    justify-items: center;
    align-items: center;
    font-size: 100px;
    font-weight: 900;
    display: flex;
    justify-content: space-around;
    margin: 10px;
    /* z-index: 14; */
}

.number_style {
    font-size: 100px;
    font-weight: 900;
    color: rgb(247, 242, 242);
    text-shadow: 2px 2px 8px #000;
    margin-bottom: -40px;
    /* z-index: 2; */
}

section {
    position: relative;
}

.right,
.left {
    background-color: grey;
    position: absolute;
    top: 120px;
    padding: 34px 0 34px 0;
    margin-left: 4px;
    border-radius: 5px;
    cursor: pointer;
}

.explore {
    display: flex;
    flex-direction: row;
    color: white;


}

.style {
    background: linear-gradient(to bottom, rgb(4, 3, 72), rgba(120, 11, 69, 0.515));
    /* background: linear-gradient(to top, yellow,red); */
    width: 20vw;
    padding: 23px;
    margin: 23px;
    font-size: 24px;
    font-weight: 500;
    border-radius: 20px;
}

.descp {
    color: rgba(255, 255, 255, 0.5);
    margin-top: 15px;
    margin-bottom: 50px;
    font-size: 16px;
    font-weight: 400;
}

.svg {
    display: flex;
    justify-content: right;

}

.h1 {
    color: white;
    font-weight: 500;
    font-size: 24px;
    padding: 35px 53px 10px 200px;
    text-shadow: 2px 2px 5px white;
}

.faq {

    color: white;
    background-color: black;
    padding: 34px;
    margin-top: -10px;
}

.faqbox {

    transition: all 1s ease-in-out;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(48, 48, 48);
    padding: 24px;
    max-width: 50vw;
    margin: auto 150px;
    margin-bottom: 15px;
    cursor: pointer;

}

.faqbox:hover {
    background-color: rgba(73, 73, 73, 0.837);
}

.faqbox::selection {
    color: rgb(180, 179, 179);
    background-color: rgba(162, 160, 160, 0.642);
}

footer {
    color: grey;
    max-width: 60vw;
    margin: auto;
    padding: 14px;
}

footer span {
    color: grey;
}

.footer {
    margin-top: 7px;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;


}

.footer-items {
    display: flex;
    flex-direction: column;
    text-decoration: none;

}

.footer-items a {
    color: grey;
    margin: 15px;
    text-decoration: none;
}

.footer-items a:visited {
    color: rgb(98, 0, 151);
}

a:hover {
    color: rgba(4, 4, 255, 0.762);
    text-decoration: underline
}
.enter .box3{
    margin-top: 70px;
    color: white;
    font-weight: 400;
    font-size: 18px;
    margin: auto;
    text-align: center;

}
.enter{
    display: flex;
    flex-direction: column;
    gap: 23px;
}
.enter .box2{
    align-self: center;
    margin-bottom:56px;
}

@media only screen and (max-width: 450px) {
    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 0 15px;
        max-width: 100vw;
        height: 100px;
        gap: 2px;

    }
    nav img {
    color: #e50914;
    width: 100px;
    position: relative;
    z-index: 10;
}

    .title h1 {
        font-size: 32px;
        font-weight: 700;
        /* margin-bottom: 20px; */
    }

    .title h2 {
        font-size: 16px;
        font-weight: 400;
        /* margin-bottom: 20px; */
    }

    .title p {
        font-size: 12px;
        font-weight: 400;
    }

    .box2 {
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        justify-content: center;
        align-items: center;
        margin: 5px;
        max-width: 100vw;
        height: 100px;
        gap: 2px;
    }
    .box2 input {
    border-radius: 7px;
    width: 75vw;
    margin: 5px;
 padding: 16px 10px;
    background-color: rgba(0, 0, 0, 0.7);
    border: 2px solid white;
}
}
@media only screen and (max-width: 350px) {
    nav {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 15px;
        max-width: 100vw;
        height: 100px;
        gap: 2px;

    }
    .btn{
          margin: 10px;
    }
 
    .title h1 {
        font-size: 20px;
        font-weight: 700;
        /* margin-bottom: 20px; */
    }

    .title h2 {
        font-size: 12px;
        font-weight: 400;
        /* margin-bottom: 20px; */
    }

    .title p {
        font-size: 8px;
        font-weight: 400;
    }
}

@media only screen and (max-width: 800px) {
    .explore {
        display: flex;
        flex-direction: column;
        margin: auto;
        align-content: center;
        justify-content: center;
        justify-items: center;
        flex-wrap: wrap;
        /* padding: 0 95px; */
    }

    .style {
        align-self: center;
        padding: 10px 55px;
        width: 50vw;
    }

}

@media only screen and (max-width: 600px) {
    .faqbox {
        /* transition: all 1s ease-in-out; */
        font-size: 16px;
        padding:13px 15px;
        max-width: 70vw;
        margin: auto;
        margin-bottom: 15px;
        cursor: pointer;
    }
    .enter .box3{
    font-size: 12px;

}

    .h1 {
        color: white;
        font-weight: 400;
        font-size: 16px;
        padding: 20px 18px 6px 39px;
        text-shadow: 2px 2px 5px white;
    }
}

@media only screen and (max-width: 410px) {
    .number_style {
        display: flex;
        flex-direction: column;
        /* flex-wrap: wrap; */
        gap: 23px 53px;
        font-size: 25px;
        font-size: 0%;
        margin: 5px;
    }
}

@media only screen and (max-width: 1400px) {
    .number_style {
        font-size: 25px;
        font-size: 0%;
        font-weight: 400;
        width: 80vw;
        color: rgb(247, 242, 242);
        text-shadow: 2px 2px 8px #000;
        /* margin-bottom: -40px; */
        /* margin-left: -10px; */
        /* padding-left: -50px; */
        margin: 5px;
    }

    .right,
    .left {
        display: none;
    }
}

/* .main {
    background-image: url(assets/images/portfolio.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 1700px;
    height: 100vh;
    position: relative;
} */
@media only screen and (max-width: 1400px) {
    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

}